.bucket{
	min-height: 4.5em;
	height: auto;
	background: #f1f1f1;
	border: 2px solid black;
	margin: 10px;
	position: relative;
}
.header{
	height: 1.5em;
	background: black;
}
h3{
	position: absolute;
	color: white;
	margin-left: 50%;
	margin-top: 0.05em;
	transform: translateX(-50%);
}
.plus{
	position: absolute;
	background: black;
	border: 1px solid white;
	color: white;
	width: 1em;
	height: 1em;
	padding: 0.05em;
	text-align: center;
	font-weight: bold;
	margin: 0.05em 0.2em;
}
.plus:after{
	content: ' \002B';
}
.minus{
	position: absolute;
	background: black;
	border: 1px solid white;
	color: white;
	width: 1em;
	height: 1em;
	padding: 0.05em;
	text-align: center;
	font-weight: bold;
	right: 0.2em;
	top: 0.05em;
}
.minus:after {
    content: ' \002D';
}
ol{
	list-style: none;
	margin: 0;
	padding: 0;
}
li{
	width: 2em;
	height: 2em;
	margin: 5px;
	border: 2px solid black;
	display: inline-block;
}
li:after{
	content: "\21E9";
	color: white;
	font-size: 25px;
	padding-left: 9px;
	padding-top: 3px;
	opacity: 0;
	-webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
}

li:hover::after{
	cursor: pointer;
	opacity: 1;
}

