/* for carousel*/
.mySlides{
	width: 100%;
	position: relative;
	display: block;
}
.row{
	text-align: center;
}
.select{
	position: absolute;
	bottom: 0;
	top: 50%;
}
/*For left and right slide button */
.left{
	cursor: pointer;
	float: left;
	width: 2em;
    height: 2em;
    border-left: 0.2em solid #D3D3D3;
    border-top: 0.2em solid #D3D3D3;
    transform: rotate(-45deg);
	margin-left: 1em;
	transition: 0.4s ease;
}
.right{
	cursor: pointer;
	float: right;
	width: 2em;
    height: 2em;
    border-right: 0.2em solid #D3D3D3;
    border-top: 0.2em solid #D3D3D3;
    transform: rotate(45deg);
    margin-right: 1em;
    transition: 0.4s ease;
}
/* for text in slides*/
.label{
	position: absolute;
	top: 0;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 16px!important;
    padding-bottom: 16px!important;
	background-color: black;
	color: white;
	font-size: 20px;
}
/*for circles at the bottom of slides */
.badge {
	position: relative;
	margin-top: 23%;
	height: 13px;
	width: 13px;
	background-color: transparent!important;
	cursor: pointer;
	border: 1px solid #ccc!important;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
}
.active , .badge:hover{
   background-color: black!important;
}
img{
	max-width: 100%;
    height: auto !important;
}
/* Fading Animation*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.0s;
  animation-name: fade;
  animation-duration: 1.0s;
}

@-webkit-keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}
/* On mobile change the slides */
@media screen and (max-width: 600px) {
   .label{
	position: inherit;
	top: 0;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 16px!important;
    padding-bottom: 16px!important;
	background-color: #87ceeb;
	color: black;
	font-size: 20px;
	}
	.badge{
		margin-top: 200px;
	}
}

/* for header*/
.header {	
    background-color: #333;
}
ul{
	overflow: hidden;
    background-color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: inherit;
}
li{
	display: inline-block;
	list-style: none;
	float: left;
}
li .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
li:hover .dropbtn{
	background-color: #f1f1f1;
	color: #191970;
	z-index: 1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown{
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
}
li:hover .dropdown-content {display: block;}
.dropdown-content a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a:hover {background-color: #ddd;}
/*for sticky header */
.sticky{
	position: fixed;
	top:0;
	width: 100%;
}
