/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* customisation */
body {
    font-family: Arial,Verdana,sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    margin: 38px 0 0;
    min-width: 1020px;
    background: #fff;
    color: #444;
    -webkit-text-size-adjust: none;
}
.header{
	width: 100%;
	position: fixed;
    top: 0;
    padding: 16px;
    background-color: white;
    text-align: center;
}
h1{
	
	font-size: 32px;
	font-weight: bold;
	
}
.product-image-container{
	/*height:2057px;*/
	width:23%;
	position: relative;
	float:left;
	margin: 20px;
	box-sizing: border-box;
}
.product-primary-image{
	border: 1px solid #d7d7d7;
	position: relative;
	flex-wrap: wrap;
}
img{
	width:100%;
}
.left{
	float: left;
}
.product-detail-container{
	float: left;
	width: 68%;
	border: none;
	margin: 20px;
	line-height: normal;
}
.product-set-item{
	border-bottom: 1px solid #e1e1e1;
    margin-bottom: 33px;
    padding-bottom: 33px;
    overflow: hidden;
}
.product-set-image{
	float: left;
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: auto;
}
.add-to-hearting{
	position:static;
	cursor:pointer;
	display:inline-block;
	z-index: 500;
	padding: 1px;
}
.add-to-heart{
	border:none;
    width:25px;
	height:25px;
	background: url(https://www.carters.com/on/demandware.static/Sites-Carters-Site/-/default/v1528743962165/images/mobileSprite.svg) -268px -71px no-repeat;
}
.sticky-wrapper{
	position:fixed;
	width:inherit;
}
.main{
	background: url(https://www.carters.com/on/demandware.static/Sites-Carters-Site/-/default/v1528743962165/images/mobileSprite.svg) -222px -71px no-repeat;
}
