.container{

    margin:50px auto;
}
h2{
	margin-bottom:30px;
}
#btn{
    background:white;
    color: #444;
    padding:5px;
    border-radius:5px;   
    border:1px solid #D3D3D3;
    margin:15px;

    &:hover {
    color: white;
    background: #444;
    }
}
.delete{
 	float:right;
	margin-left:20px;
	background: transparent;
	border:1px transparent;
    
	&:hover {
    color: white;
    background: #444;
    border-radius:20px;
    border:1px solid #D3D3D3;
    }
}
